.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 60vh;
  overflow: auto;
  padding-right: 4px;
}

.content::-webkit-scrollbar {
  width: 8px;
}
.content::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}

h1 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}
